.margin-1 {
  margin: 1em;
}

.margin-left-1 {
  margin-left: 1em;
}

.patient-view-header {
  display: flex;
  align-items: center;
}

mat-card {
  margin: 10px 0%;
  max-width: 100%;
}


table {
  width: 100%;
}

mat-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#addMedicalHistory, #addPrescription, #addAllergy, #addVisits {
  font-size: 25px;
}
mat-icon {
  cursor: pointer;
}

.med-hist-row:hover, .pres-row:hover, .allergies-row:hover {
  background-color: lavender;
}





