.margin-1 {
  margin: 1em;
}

.margin-left-1 {
  margin-left: 1em;
}

.patient-view-header {
  display: flex;
  align-items: center;
}

mat-card {
  margin: 10px 0%;
  max-width: 100%;
}

table {
  width: 100%;
}

#addMedicalHistory {
  font-size: 25px;
  margin-left: 490px;
  display: block;
}

#addPrescription {
  font-size: 25px;
  margin-left: 480px;
  display: block;
}
#addAllergy {
  font-size: 25px;
  margin-left: 520px;
  display: block;
}
#addVisits {
  font-size: 25px;
  display: block;
  margin-left: 170px;
}



