<div class="margin-1">

  <div class="patient-view-header">
    <h2>{{patient.name}}</h2>
    <h6 class="margin-left-1">({{patient.cnic}})</h6>
  </div>
</div>
<hr>

<div class="container" @fadein>
  <div class="row">
    <div class="col-sm-8">

      <div class="viewCard">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Medical History</mat-card-title>
            <div id="addMedicalHistory">
              <a (click)="openMedicalHistoryDialog()">
                <mat-icon class="material-icons-outlined">add_box</mat-icon>
              </a>
            </div>
          </mat-card-header>

          <hr>
          <table mat-table [dataSource]="medicalHistoryDataSource">
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type</th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef> Date</th>
              <td mat-cell *matCellDef="let element"> {{element.happened_at | date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMedicalHistory"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMedicalHistory;"
                (click)="editMedicalHistory(row)" class="med-hist-row"></tr>
          </table>
        </mat-card>
      </div>

      <div class="viewCard">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Prescriptions</mat-card-title>
            <div id="addPrescription">
              <a (click)="openPrescriptionDialog()">
                <mat-icon class="material-icons-outlined">add_box</mat-icon>
              </a>
            </div>
          </mat-card-header>
          <hr>
          <table mat-table [dataSource]="prescriptionDataSource">

            <ng-container matColumnDef="serialNo">
              <th mat-header-cell *matHeaderCellDef> No.</th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="medicine">
              <th mat-header-cell *matHeaderCellDef> Medicine</th>
              <td mat-cell *matCellDef="let element"> {{element.medicine}} </td>
            </ng-container>

            <ng-container matColumnDef="dose">
              <th mat-header-cell *matHeaderCellDef> Dose</th>
              <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
            </ng-container>

            <ng-container matColumnDef="frequency">
              <th mat-header-cell *matHeaderCellDef> Frequency/Time</th>
              <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPrescriptions"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPrescriptions;"
                (click)="editPrescription(row)" class="pres-row"></tr>
          </table>
        </mat-card>
      </div>


      <div class="viewCard">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Allergies</mat-card-title>
            <div id="addAllergy">
              <a (click)="openAllergyDialog()">
                <mat-icon class="material-icons-outlined">add_box</mat-icon>
              </a>
            </div>
          </mat-card-header>
          <hr>
          <table mat-table [dataSource]="allergiesDataSource">

            <ng-container matColumnDef="serialNo">
              <th mat-header-cell *matHeaderCellDef> No.</th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description</th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsAllergy"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAllergy;"
                (click)="editAllergies(row)" class="allergies-row"></tr>
          </table>
        </mat-card>
      </div>
    </div>


    <div class="col-sm-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Visits</mat-card-title>
          <div id="addVisits">
            <a (click)="openVisitDialog()">
              <mat-icon class="material-icons-outlined">add_box</mat-icon>
            </a>
          </div>
        </mat-card-header>
        <hr>
        <span *ngFor="let visit of visits">
          <p>Visited on {{visit.visited_at | date}} for {{visit.purpose}}.</p>
        </span>
        </mat-card>
    </div>
  </div>
</div>

