<div class="viewCard">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Prescriptions</mat-card-title>
    </mat-card-header>
    <hr>
    <table mat-table [dataSource]="presciptionDataSource" class="mat-elevation-z1">

      <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.serialNo}} </td>
      </ng-container>

      <ng-container matColumnDef="medicine">
        <th mat-header-cell *matHeaderCellDef> Medicine </th>
        <td mat-cell *matCellDef="let element"> {{element.medicine}} </td>
      </ng-container>

      <ng-container matColumnDef="dose">
        <th mat-header-cell *matHeaderCellDef> Dose </th>
        <td mat-cell *matCellDef="let element"> {{element.dose}} </td>
      </ng-container>

      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef> Frequency/Time </th>
        <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPrescriptions"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPrescriptions;"></tr>
    </table>
  </mat-card>
</div>
