<div class="margin-1">
  <div>
    <span><h2>Add Patients</h2></span>
  </div>
  <hr>
  <mat-accordion multi="false" [hideToggle]="true">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Patient Profile
        </mat-panel-title>
        <mat-panel-description class="flex expansion-description">
          Enter patient's information
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>

      <div class="flex fields">
        <div class="container-fields flex">
          <span class="label-fields">Name: </span>
          <div class="margin-left-3">
            <mat-form-field appearance="outline" class="margin-left-1">
              <mat-label>First Name</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="margin-left-1">
              <mat-label>Middle Name</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="margin-left-1">
              <mat-label>Last Name</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Guardian
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>IOk</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
