<div class="margin-1">
  <div>
    <span><h2>Add Patients</h2></span>
  </div>
  <hr>
  <mat-vertical-stepper>
    <mat-step label="Patient Profile">
      <div class="bio-grid">
        <h6 id="name">Name</h6>
        <mat-form-field appearance="outline" id="firstName">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" id="middleName">
          <mat-label>Middle Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" id="lastName">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="cnic">CNIC</h6>
        <mat-form-field appearance="outline" id="cnicField">
          <mat-label>CNIC</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="dob">Date of Birth</h6>
        <mat-form-field id="dobField" appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <h6 id="weight">Weight</h6>
        <mat-form-field appearance="outline" id="weightField">
          <mat-label>Weight</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="height">Height</h6>
        <mat-form-field appearance="outline" id="heightField">
          <mat-label>Height</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </mat-step>
    <mat-step label="Contact Information">
      <div class="contact-grid">
        <h6 id="mobile">Mobile No.</h6>
        <mat-form-field appearance="outline" id="mobileField">
          <mat-label>Mobile</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="emergencyContact">Emergency Contact</h6>
        <mat-form-field appearance="outline" id="emergencyContactField">
          <mat-label>Emergency Contact</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="address">Address</h6>
        <mat-form-field appearance="outline" id="addressField">
          <mat-label>Address</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="email">Email</h6>
        <mat-form-field appearance="outline" id="emailField">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="city">City</h6>
        <mat-form-field appearance="outline" id="cityField">
          <mat-label>City</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="country">Country</h6>
        <mat-form-field appearance="outline" id="countryField">
          <mat-label>Country</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

    </mat-step>
    <mat-step label="Guardian Information">
      <div class="guardian-grid">
        <h6 id="guardianName">Name</h6>
        <mat-form-field appearance="outline" id="guardianNameField">
          <mat-label>Guardian Name</mat-label>
          <input matInput>
        </mat-form-field>

        <h6 id="guardianMobile">Mobile</h6>
        <mat-form-field appearance="outline" id="guardianMobileField">
          <mat-label>Mobile</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="guardianAddress">Address</h6>
        <mat-form-field appearance="outline" id="guardianAddressField">
          <mat-label>Address</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="relation">Relationship with patient</h6>
        <mat-form-field appearance="outline" id="relationField">
          <mat-label>Relationship</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <br>
      <div class="btn-container">
        <div class="add-btn">
          <button mat-raised-button color="primary">Add</button>
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <br>
</div>
