<div class="margin-1">
  <div>
    <span><h2>Add Patients</h2></span>
  </div>
  <hr>
  <mat-accordion multi="false" [hideToggle]="true">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Patient Profile
        </mat-panel-title>
        <mat-panel-description style="display: flex; justify-content: space-between">
          <p style="flex-grow: 1">Enter patient's information</p>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
      <div class="grid-maker">
        <h6 id="name">Name</h6>
        <mat-form-field appearance="outline" id="firstName">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" id="middleName">
          <mat-label>Middle Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" id="lastName">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="cinc">CINC</h6>
        <mat-form-field appearance="outline" id="cincField">
          <mat-label>CINC</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="email">Email</h6>
        <mat-form-field appearance="outline" id="emailField">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="weight">Weight</h6>
        <mat-form-field appearance="outline" id="weightField">
          <mat-label>Weight</mat-label>
          <input matInput>
        </mat-form-field>
        <h6 id="height">Height</h6>
        <mat-form-field appearance="outline" id="heightField">
          <mat-label>Height</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Guardian
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>IOk</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
