.margin-1 {
  margin: 1em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-left-3 {
  margin-left: 3em;
}

.mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1.62;
  margin-right: 16px
}

.grid-maker {
  display: grid;
  grid-template-columns: 5% repeat(4, 20%) 2%;
  grid-template-rows: repeat(3, 60px);
  grid-template-areas: ". name firstName middleName lastName ."
                       ". email emailField cinc cincField ."
                        ". weight weightField height heightField .";
}

#name {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#cinc {
 grid-area: cinc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#email {
 grid-area: email;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#weight {
  grid-area: weight;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#height {
  grid-area: height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#firstName {
 grid-area: firstName;
}

#middleName {
  grid-area: middleName;
}

#lastName {
 grid-area: lastName;
}
#cincField {
 grid-area: cincField;
}

#weightField {
 grid-area: weightField;
}

#emailField {
grid-area: emailField;
}

#heightField {
 grid-area: heightField;
}

.mat-form-field {
  width: 220px;
}

@media screen and (max-width: 600px) {
  .grid-maker {
    display: grid;
    grid-template-columns: 5%;
    grid-template-rows: repeat(12, 60px);
    grid-template-areas: "name" "firstName" "middleName" "lastName"
    "email" "emailField" "cinc" "cincField"
    "weight" "weightField" "height" "heightField";
  }


  #cinc {
   grid-area: cinc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }


  #height {
    grid-area: height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

}

