.container {
  display: block;
  width: 400px;
}
.visitsField {
  width: 400px;
}
#addButton {
  width: 50%;
}
mat-dialog-actions {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .container {
    display: block;
    width: 250px;
  }

  #visitsField {
    width: 250px;
  }
}
