<div class="container">

  <h2 mat-dialog-title>Add Visits</h2>
  <hr>

  <div class="row">
    <mat-form-field appearance="outline" class="visitsField">
      <mat-label>Purpose</mat-label>
      <input matInput [(ngModel)]="visit.purpose">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="visitsField">
      <mat-label>Visited At</mat-label>
      <input matInput [(ngModel)]="visit.visited_at">
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" id="addButton" (click)="addVisit()">Add</button>
  </mat-dialog-actions>
  <br>

</div>
