.container {
  display: block;
  width: 400px;
}
#visitsField {
  width: 400px;
}
#cancelButton  {
  width: 48%;
  margin-right: 2%;
}
#addButton {
  width: 48%;
  margin-left: 2%;
}
@media screen and (max-width: 600px) {
  .container {
    display: block;
    width: 250px;
  }

  #visitsField {
    width: 250px;
  }
}
