.login-card {
 place-content: center;
  display: grid;
  height: 90vh;
}

.login-card-content{
  height: 20rem;
  width: 20rem;
}
.mat-form-field{
  display: block;
}

.mat-raised-button{
  display: block;
}

h4.lol{
  align-self: center;
}
