
.login-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas: ". . ." ". login ." ". . .";
}

#login {
  grid-area: login;
  background-color: #24292e;
  border-top-left-radius: 2rem 2rem;
  border-bottom-left-radius: 2rem 2rem;
  border-top-right-radius: 2rem 2rem;
  border-bottom-right-radius: 2rem 2rem;
  background-size: cover;

}


main {
  display: grid;
  grid-template-columns: 62% 38%;
  grid-template-rows: 100%;
  grid-template-areas: "logo login2";
}

#logo {
  grid-area: logo;
  margin: 16%;
  background: transparent url("src/assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  elevation: 0;
  box-shadow: 0;
}

#login2 {
  grid-area: login2;
  background-color: #ffffff;
  opacity: 100%;
  border: none;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-top-right-radius: 2rem 2rem;
  border-bottom-right-radius: 2rem 2rem;
  box-shadow: 0px 0 4px 0px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.btn1 {
  background: #24292e;
  border-radius: 2rem;
  width: 184px;
}

@media screen and (max-width: 600px) {
  .login-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: ". . ." ". login ." ". . .";
  }

  main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 90%;
    grid-template-areas: "logo" "login2";


  }

  #login {
    grid-area: login;
    background-color: #24292e;
    border-top-left-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem;
    border-top-right-radius: 2rem 2rem;
    border-bottom-right-radius: 2rem 2rem;
    background-size: cover;

  }

  #logo {
    grid-area: logo;
    margin: 8%;
    background: #24292e url("src/assets/images/mars white - Copy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  #login2 {
    grid-area: login2;
    background-color: #ffffff;
    border-top-left-radius: 50% 10%;
    border-bottom-left-radius: 2rem 2rem;
    border-top-right-radius: 50% 10%;
    border-bottom-right-radius: 2rem 2rem;
    padding-bottom: 30px;
    box-shadow: 0 0 4px 0 gray;
  }

}
