<div class="login-card">
  <mat-card class="login-card-content">
    <img src="undraw_profile_pic_ic5t (1).svg">
    <h4 class="lol">LOG-IN</h4>
    <mat-form-field><label><input matInput placeholder="Username" [(ngModel)]="userService.userType"></label></mat-form-field>
    <br>
    <mat-form-field><label><input matInput placeholder="Password"></label></mat-form-field>
    <br>
    <br>
    <a mat-raised-button color="primary" routerLink="../dashboard" (click)="userService.updateUser()">Login</a>
  </mat-card>
</div>
