.container {
  display: block;
  width: 400px;
}
#allergyNameField {
  width: 400px;
}
#allergyDescriptionField {
  width: 400px;

}
#cancelButton  {
  width: 48%;
  margin-right: 2%;
}
#addButton {
  width: 48%;
  margin-left: 2%;
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
    width: 250px;
  }
  #allergyNameField {
    width: 250px;
  }
  #allergyDescriptionField {
    width: 250px;

  }
}
