
<div class="container">

  <h2 mat-dialog-title>Add Prescription</h2>
  <hr>

  <div class="row">
    <mat-form-field appearance="outline" id="medicineField">
      <mat-label>Medicine</mat-label>
      <input matInput>
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field appearance="outline" id="doseField">
      <mat-label>Dose</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" id="frequencyField">
      <mat-label>Frequency</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" id="cancelButton">Cancel</button>
    <button mat-raised-button color="primary" id="addButton">Add</button>
  </mat-dialog-actions>
  <br>

</div>

