.container {
  display: block;
  width: 400px;
}

#medicineField {
  width: 400px;
}
#doseField {
  width: 400px;
}
#frequencyField {
  width: 400px;
}
#cancelButton  {
  width: 48%;
  margin-right: 2%;
}
#addButton {
  width: 48%;
  margin-left: 2%;
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
    width: 250px;
  }

  #medicineField {
    width: 250px;
  }

  #doseField {
    width: 250px;
  }

  #frequencyField {
    width: 250px;
  }
}

