.container {
  display: block;
  width: 400px;
}

#typeField {
  width: 400px;
}
#descriptionField {
  width: 400px;
}
#timeField {
  width: 400px;
}

#addButton {
  width: 50%;
}
mat-dialog-actions {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .container {
    display: block;
    width: 250px;
  }

  #typeField {
    width: 250px;
  }

  #descriptionField {
    width: 250px;
  }

  #timeField {
    width: 250px;
  }
}
