
<div class="container">

  <h2 mat-dialog-title>Add Medical Record</h2>
  <hr>

  <div class="row">
  <mat-form-field appearance="outline" id="typeField">
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="medicalHistory.type">
  </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" id="descriptionField">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="medicalHistory.description">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" id="timeField">
      <mat-label>Time</mat-label>
      <input matInput [(ngModel)]="medicalHistory.happened_at">
    </mat-form-field>
  </div>

    <mat-dialog-actions>
        <button mat-raised-button color="primary" id="addButton" (click)="addMedicalHistory()">Add</button>
    </mat-dialog-actions>
  <br>
</div>
