
<div class="container">

  <h2 mat-dialog-title>Prescription</h2>
  <hr>

  <div class="row">
    <mat-form-field appearance="outline" id="medicineField">
      <mat-label>Medicine</mat-label>
      <input matInput [(ngModel)]="prescription.medicine">
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field appearance="outline" id="doseField">
      <mat-label>Dose</mat-label>
      <input matInput [(ngModel)]="prescription.dose">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" id="frequencyField">
      <mat-label>Frequency</mat-label>
      <input matInput [(ngModel)]="prescription.frequency">
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" id="addButton" (click)="updatePrescription()">Update</button>
  </mat-dialog-actions>
  <br>

</div>

