<body>
  <section>
    <mat-toolbar color="primary" role="heading" class="app-header">
      <span class="fill-space"></span>
      <div class="logo-icon">
<!--          <img src="src/assets/images/mars white - Copy.png">-->
      </div>
      <span class="fill-space"></span>
      <a mat-button id="btn1" color=primary style="background: white" routerLink="login">Login</a>

    </mat-toolbar>
    <div id="overlay">
      <div class="new-grid">
        <div id="title">
          <h1>Medical Aid Records System</h1>
        </div>
        <div id="subtitle">
          <p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="card1">
          <div class="face face1">
            <div class="content">
              <h2>Try Now</h2>
              <p>Login to fully functioning demo of MARS today!</p>
            </div>
          </div>
          <div class="face face2">
          </div>
        </div>
        <div id="card2">
          <div class="face face1">
            <div class="content">
              <h2>Try Now</h2>
              <p>Lorem ipsum</p>
            </div>
          </div>
          <div class="face face2">
          </div>
        </div>
        <div id="card3">
          <div class="face face1">
            <div class="content">
              <h2>Try Now</h2>
              <p>Lorem ipsum</p>
            </div>
          </div>
          <div class="face face2">
          </div>
        </div>
        <div id="card4">
          <div class="face face1">
            <div class="content">
              <h2>Try Now</h2>
              <p>Lorem ipsum</p>
            </div>
          </div>
          <div class="face face2">
          </div>
        </div>
      </div>
    </div>
  </section>
</body>


<!--        <div>-->
  <!--        <div class="landing-grid">-->
  <!--          <div id="text">-->
  <!--            <div id="headingbox">-->
  <!--              <h1 id="big">Fully Open-Source.</h1>-->
  <!--              <h1 id="big">Free, Always and Forever.</h1>-->
  <!--              <h1 id="big">ONC Complete EHR Certified.</h1>-->
  <!--            </div>-->
  <!--            <div id="parabox">-->
  <!--              <p id="p">OpenEMR is the most popular open source electronic health records and medical</p>-->
  <!--              <p id="p">practice management solution. 2014 ONC certified with international usage,</p>-->
  <!--              <p id="p">OpenEMR's goal is a superior alternative to its proprietary counterparts.</p>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--          <div id="blocks">-->
  <!--            <div class="block-grid">-->
  <!--              <mat-card id="block1">-->
  <!--                <div class="block-grid2">-->
  <!--                  <div class="icon"></div>-->
  <!--                  <div id="htext">-->
  <!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
  <!--                  </div>-->
  <!--                  <div id="hsubtext">-->
  <!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </mat-card>-->
  <!--              <mat-card id="block2">-->
  <!--                <div class="block-grid2">-->
  <!--                  <div class="icon"></div>-->
  <!--                  <div id="htext">-->
  <!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
  <!--                  </div>-->
  <!--                  <div id="hsubtext">-->
  <!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </mat-card>-->
  <!--              <mat-card id="block3">-->
  <!--                <div class="block-grid2">-->
  <!--                  <div class="icon"></div>-->
  <!--                  <div id="htext">-->
  <!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
  <!--                  </div>-->
  <!--                  <div id="hsubtext">-->
  <!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </mat-card>-->
  <!--              <mat-card id="block4">-->
  <!--                <div class="block-grid2">-->
  <!--                  <div class="icon"></div>-->
  <!--                  <div id="htext">-->
  <!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
  <!--                  </div>-->
  <!--                  <div id="hsubtext">-->
  <!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </mat-card>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
