.fill-space {
  flex: 1 1 auto
}

section {
  width: 100%;
  height: 100%;
  background: url('src/assets/images/stethoscope-scrubs.jpg');
  background-size: cover;

}

.landing-grid {
  display: grid;
  grid-template-columns: 7.5% 50% 35% 7.5%;
  grid-template-rows: 1.5fr 4fr 1fr;
  grid-template-areas: ". . . ." ". text blocks ." ". . . .";
}

#text {
  grid-area: text;
}

#blocks {
  grid-area: blocks;
}

.block-grid {
  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas: ". block1 ." ". block2 ." ". block3 ." ". block4 .";
}

#block1 {
  grid-area: block1;
  height: 96%;
  place-content: center;
  background-color: #00e676;
  opacity: 80%;
  padding: 0px;
}

#block2 {
  grid-area: block2;
  height: 96%;
  place-content: center;
  background-color: #00e676;
  opacity: 80%;
  padding: 0px;
}

#block3 {
  grid-area: block3;
  height: 96%;
  place-content: center;
  background-color: #00e676;
  opacity: 80%;
  padding: 0px;
}

#block4 {
  grid-area: block4;
  height: 96%;
  place-content: center;
  background-color: #00e676;
  opacity: 80%;
  padding: 0;

}

.block-grid2 {
  display: grid;
  grid-template-columns: 4% 16% auto 4%;
  grid-template-rows: auto;
  grid-template-areas: ". icon htext ." ". icon hsubtext .";
}

#htext {
  grid-area: htext;
  color: cornsilk;
}

#hsubtext {
  grid-area: hsubtext;
}

#overlay {
  width: 100%;
  height: 100%;
  background: #2b3137;
  opacity: 95%;
  background-size: cover;
}

#overlay2 {
  width: 100%;
  height: 100%;
  background: rgba(105, 240, 174, 0.15);
  background-size: cover;
}

#big {
  color: cornsilk;
  font-family: "Microsoft YaHei UI Light";
}

#big2 {
  color: cornsilk;
  font-family: "Microsoft YaHei UI";
  font-weight: bold;
  margin: 4% 2% 2%;
}

#p {
  font-family: "Microsoft YaHei Light";
  color: cornsilk;
  margin: 0 2% 2%;
}


#headingbox {
  padding-left: 5%;
}

#parabox {
  padding-left: 5%;
  padding-top: 1%;
}

#btn1 {
  display: grid;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #f8f8f8;
  border-radius: 2rem;
  color: #f8f8f8;
  padding: 2px;
  width: 6%;
}

.logo {
  display: grid;
  place-content: center;
  background-size: 100%;
  background: url("src/assets/images/mars white - Copy.png") no-repeat center;
  transition: 0.5s;
}

.new-grid {
  display: grid;
  grid-template-columns: 5% 19.25% 5% 19.25% 5% 19.25% 5% 19.25% 5%;
  grid-template-rows: 5% 10% 5% 15% 5% 45% 15%;
  height: 100%;
}

#title {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: span 7;
  text-align: center;
  font-family: "Microsoft YaHei Light";
}

#subtitle {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: span 7;
  text-align: center;
  font-family: "Microsoft YaHei Light";
}

h1 {
  color: cornsilk;
  font-size: 4rem;
  font-weight: bold;
}

#feature-card-1 {
  grid-row-start: 6;
  grid-column-start: 2;
}

#feature-card-2 {
  grid-row-start: 6;
  grid-column-start: 4;
}

#feature-card-3 {
  grid-row-start: 6;
  grid-column-start: 6;
}

#feature-card-4 {
  grid-row-start: 6;
  grid-column-start: 8;
}

.feature-card {
  border-radius: 0.5rem;
  background-color: #2b3137;
  transition: 0.5s;
  height: 100%;
  place-content: center;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.feature-card:hover {
  box-shadow: 0 30px 50px rgba(255, 255, 255, 0.2);
}

.feature-content {
  display: grid;
  grid-template-rows: 5% 25% 10% 20% 10% 20% 10%;
  grid-template-columns: 10% 80% 10%;
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
  background-color: #f8f8f8;
}

.feature-heading {
  justify-self: center;
  grid-row-start: 4;
  grid-column-start: 2;
}

.feature-text {
  justify-self: center;
  grid-row-start: 6;
  grid-column-start: 2;
}

.feature-animation {
  z-index: 2;
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  background-color: #2b3137;
  height: 100%;
  width: 100%;
  justify-self: center;
  transition: 0.5s;
  margin-top: 0;
}

.feature-card:hover .feature-animation {
  justify-self: center;
  margin-top: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: 0.5s;
}

.img {
  grid-row-start: 1;
  grid-column-start: 2;
  align-self: center;
}

.img img {
  width: 100%;
  height: auto;
}

.logo-icon {
  background-image: url("src/assets/images/mars white - Copy.png");
  background-size: contain;
  height: 72%;
  width: 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .new-grid {
    display: grid;
    grid-template-columns: 6% 88% 6%;
    grid-template-rows: 1fr 1fr 2fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-areas: ". . . . . ." ". title ." ". subtitle ." ". card1 ." ". card2 ." ". card3 ." ". card4 .";

  }


}
