
<section>
  <mat-toolbar color="primary" role="heading" class="app-header">
    <span class="fill-space"></span>
    <div class="logo-icon">
    </div>
    <span class="fill-space"></span>
    <a mat-button routerLink="login">LOGIN</a>

  </mat-toolbar>
  <div id="overlay">
    <div class="new-grid">
      <div id="title">
        <h1>Medical Aid Records System</h1>
      </div>
      <div id="subtitle">
        <p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur.</p>
      </div>
      <div id="card1">
        <div class="face face1">
          <div class="content">
            <h2>Try Now</h2>
            <p>Login to fully functioning demo of MARS today!</p>
          </div>
        </div>
        <div class="face face2">
        </div>
      </div>
      <div id="card2">
        <div class="face face1">
          <div class="content">
            <h2>Try Now</h2>
            <p>Lorem ipsum</p>
          </div>
        </div>
        <div class="face face2">
        </div>
      </div>
      <div id="card3">
        <div class="face face1">
          <div class="content">
            <h2>Try Now</h2>
            <p>Our security is the best! Trust us with all your info.</p>
          </div>
        </div>
        <div class="face face2">
        </div>
      </div>
      <div id="card4">
        <div class="face face1">
          <div class="content">
            <h2>Try Now</h2>
            <p>Lorem ipsum</p>
          </div>
        </div>
        <div class="face face2">
        </div>
      </div>
    </div>
  </div>
</section>
