<section>
  <mat-toolbar color="primary" role="heading" class="app-header">
    <span class="fill-space"></span>
    <div class="logo-icon">
    </div>
    <span class="fill-space"></span>
    <a mat-button id="btn1" routerLink="login">LOGIN</a>
  </mat-toolbar>

  <div id="overlay">
    <div class="new-grid">
      <div id="title">
        <h1>Medical Aid Records System</h1>
      </div>
      <div id="subtitle">
        <p id="p">MARS is a management system which digitalizes the health information for improving efficiency, quality
          of care and it defiantly reduces the costs.</p>
      </div>
      <div id="feature-card-1" class="feature-card">
        <div class="feature-content">
          <div class="feature-heading">
            <h2>Security</h2>
          </div>
          <div class="feature-text">
            <span></span>
          </div>
        </div>
        <div class="feature-animation">
          <div class="img" id="lock">
            <img src="assets/images/MARS(LOCK).png">
          </div>
        </div>
      </div>
      <div id="feature-card-2" class="feature-card">
        <div class="feature-content">
          <div class="feature-heading">
            <h2>Performance</h2>
          </div>
          <div class="feature-text">
            <span>Loreum ipsium wa elun ha to wi</span>
          </div>
        </div>
        <div class="feature-animation">
          <div class="img">
            <img src="assets/images/MARS(PERFORMANCE).png">
          </div>
        </div>
      </div>
      <div id="feature-card-3" class="feature-card">
        <div class="feature-content">
          <div class="feature-heading">
            <h2>Access Control</h2>
          </div>
          <div class="feature-text">
            <span>Loreum ipsium wa elun ha to wi</span>
          </div>
        </div>
        <div class="feature-animation">
          <div class="img">
            <img src="assets/images/AC.png">
          </div>
        </div>
      </div>
      <div id="feature-card-4" class="feature-card">
        <div class="feature-content">
          <div class="feature-heading">
            <h2>Try Now</h2>
          </div>
          <div class="feature-text">
            <span>Loreum ipsium wa elun ha to wi</span>
          </div>
        </div>
        <div class="feature-animation">
          <div class="img">
            <img src="assets/images/whiteFeatureCard1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--        <div>-->
<!--        <div class="landing-grid">-->
<!--          <div id="text">-->
<!--            <div id="headingbox">-->
<!--              <h1 id="big">Fully Open-Source.</h1>-->
<!--              <h1 id="big">Free, Always and Forever.</h1>-->
<!--              <h1 id="big">ONC Complete EHR Certified.</h1>-->
<!--            </div>-->
<!--            <div id="parabox">-->
<!--              <p id="p">OpenEMR is the most popular open source electronic health records and medical</p>-->
<!--              <p id="p">practice management solution. 2014 ONC certified with international usage,</p>-->
<!--              <p id="p">OpenEMR's goal is a superior alternative to its proprietary counterparts.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div id="blocks">-->
<!--            <div class="block-grid">-->
<!--              <mat-card id="block1">-->
<!--                <div class="block-grid2">-->
<!--                  <div class="icon"></div>-->
<!--                  <div id="htext">-->
<!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
<!--                  </div>-->
<!--                  <div id="hsubtext">-->
<!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </mat-card>-->
<!--              <mat-card id="block2">-->
<!--                <div class="block-grid2">-->
<!--                  <div class="icon"></div>-->
<!--                  <div id="htext">-->
<!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
<!--                  </div>-->
<!--                  <div id="hsubtext">-->
<!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </mat-card>-->
<!--              <mat-card id="block3">-->
<!--                <div class="block-grid2">-->
<!--                  <div class="icon"></div>-->
<!--                  <div id="htext">-->
<!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
<!--                  </div>-->
<!--                  <div id="hsubtext">-->
<!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </mat-card>-->
<!--              <mat-card id="block4">-->
<!--                <div class="block-grid2">-->
<!--                  <div class="icon"></div>-->
<!--                  <div id="htext">-->
<!--                    <h2 id="big2" style="color: cornsilk">Try Now</h2>-->
<!--                  </div>-->
<!--                  <div id="hsubtext">-->
<!--                    <p id="p">Login now to try the fully functioning demo.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </mat-card>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
