.profile-grid {
  display: grid;
  grid-template-columns: 15% 4% 3% 25% auto 15%;
  grid-template-rows: auto;
  grid-template-areas:
  "img . name name . ."
  "img . occ occ . ."
  "img . . . . ."
  "img . . . . ."
  "img . . . . ."
  "img . icon1 email . ."
  "img . icon2 phone . join"
;
}

#img {
  grid-area: img;
  display: flex;
  width: 100%;
  height: auto;
  margin-left: 14%;
  margin-top: 6% ;
  border: 1px solid mediumblue;
  border-radius: 50%;
}

/*#tabs {*/
/*  */
/*}*/

/*.profile-info-grid{*/
/*  display: grid;*/
/*  grid-template-columns: 100%;*/
/*  grid-template-rows: repeat(5, 20%);*/
/*}*/

#name {
  grid-area: name;
  color: black;
  margin-top: 30px;
  font-width: bold;
  font-size: 40px;
}

/*.profile-info-split-grid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 50%);
}*/

#occ {
  grid-area: occ;
  color: dimgray;
  font-style: italic;
  font-size: 20px;
}

.profile-info-split-again-grid{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
}

#mail {
  grid-area: email;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
}

#phone {
  display: flex;
  grid-area: phone;
  color: black;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
}

#icon {
  grid-area: icon1;
  color: gray;

}

#icon2 {
  grid-area: icon2;
  color: gray;

}

/*#color {*/
/*  grid-area: color;*/
/*  background-color: mediumblue;*/
/*}*/

#edit {
  grid-area: edit;
  color: gray;
  align-content: flex-start;
  justify-self: flex-end;
  font-style: italic;
  font-size: 12px;
}

#join {
  grid-area: join;
  color: gray;
  justify-self: center;
  font-style: italic;
  font-size: 12px;
}

.profile-grid2 {
  display: grid;
  grid-template-columns: 33% 33% 33% 1%;
  grid-template-rows: auto;
  grid-template-areas: "group1 group2 . .";
}

#group1 {
  grid-area: group1;
}

#group2 {
  grid-area: group2;
}

h6.heading {
  margin-left: 20px;
  color: dimgrey;
  font-size: 12px;
  font-family: 'Arial Black'
}

h5.big-heading {
  margin: 20px;
  font-family: 'Arial Black'
}

h5.info {
  margin-left: 20px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 600px){
  .profile-grid {
    display: grid;
    grid-template-columns: 12% 76% 12%;
    grid-template-rows: auto;
    grid-template-areas:
      " . img . "
      " . img . "
      " name name ."
      " occ occ ."
      " . . . "
      " . . . "
      " icon1 email ."
      " icon2 phone ."
      " . join ."
  }

  #img {
    grid-area: img;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  #name {
    grid-area: name;
    align-items: center;
    color: black;
    font-width: bold;
    font-size: 36px;
  }

  .profile-grid2 {
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: auto;
    grid-template-areas:
      ". group1 ."
      ". group2 .";
  }
}



