.fill-space {
  flex: 1 1 auto
}

.side-nav {
  width: 200px;
}

.side-nav mat-grid-tile a {
  width: 200px;
}

.dash-board-container {
  height: 90%;
}

.logo-icon {
  background-image: url("src/assets/images/logo.png");
  background-size: contain;
  height: 50%;
  width: 10%;
  background-repeat: no-repeat;
}
