<mat-toolbar color="primary" role="heading" class="app-header">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="fill-space"></span>
  <h2 routerLink="">{{title}}</h2>
  <span class="fill-space"></span>
  <a mat-button>Log out</a>
</mat-toolbar>


<mat-sidenav-container class="dash-board-container">
  <mat-sidenav #snav mode="side">
    <mat-grid-list cols="1" rowHeight="50px" class="side-nav">
      <mat-grid-tile>
        <a mat-button routerLink="patient">Patient</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-button routerLink="nurse">Nurse</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-button routerLink="admin">Admin</a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-button routerLink="pharmacy">Pharmacy</a>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


