
<div class="container">

  <h2 mat-dialog-title>Medical Record</h2>
  <hr>

  <div class="row">
    <mat-form-field appearance="outline" id="typeField">
      <mat-label>Type</mat-label>
      <input matInput [(ngModel)]="medicalHistory.type">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" id="descriptionField">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="medicalHistory.description">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" id="timeField">
      <mat-label>Happened At</mat-label>
      <input matInput [matDatepicker]="joiningDatePicker1" [(ngModel)]="medicalHistory.happened_at">
      <mat-datepicker-toggle matSuffix [for]="joiningDatePicker1"></mat-datepicker-toggle>
      <mat-datepicker #joiningDatePicker1></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" id="addButton" (click)="updateMedicalHistory()">Update</button>
  </mat-dialog-actions>
  <br>
</div>
