<div class="margin-1">
  <div>
    <span class="searchHeader">
      <h2>Search Patients</h2>
      <mat-icon *ngIf="!searchMany" (click)="search()">zoom_in</mat-icon>
      <mat-icon *ngIf="searchMany" (click)="search()">zoom_out</mat-icon>
    </span>
  </div>
  <hr>

  <div class="searchSingle">
    <div *ngIf="!searchMany" @fadein>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="searchMany" class="flex search-fields" @fadein>
    <mat-form-field *ngFor="let index of indices" class="search-field col-3">
      <input matInput (keyup)="applyFilter(displayedColumns[index] + '|' + $event.target.value)"
             [placeholder]="'Search by ' + displayColumnName[index]">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z2 margin-top-1">
    <table mat-table [dataSource]="dataSource" class="width-100">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="cnic">
        <th mat-header-cell *matHeaderCellDef>CNIC</th>
        <td mat-cell *matCellDef="let element"> {{ element.cnic }} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone No.</th>
        <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
        <td mat-cell *matCellDef="let element"> {{ element.dob }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPatient(row)"
          [routerLink]="'../' + row.name"
          class="patient-data-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
