.width-100 {
  width: 100%;
}

.margin-1 {
  margin: 1em;
}

.margin-top-1 {
  margin-top: 1em;
}

.search-fields {
  flex-wrap: wrap;
  justify-content: start;
}

.search-field {
  width: 120px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.patient-data-row:hover {
  background-color: lavender;
}

.searchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-icon {
  cursor: pointer;
}
div.searchSingle mat-form-field{

  height: 65px;
}
